{
  "extends": "airbnb",
  "globals": {
    "__DEV__": true,
    "jest": {},
    "describe": {},
    "it": {},
    "expect":{}
  },
  "rules": {
    "react/jsx-quotes": 0,
    "jsx-quotes": [2, "prefer-double"]
  }
}
